# App
APP_NAME="Ghost Store"
APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=America/La_Paz
RECUP_DAYS=3
APP_RUN_MIGRATIONS=false

# DB (Hostinger)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario_db
DB_PASS=tu_password_db
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Formato moneda/numero
APP_CURRENCY_CODE=BOB
APP_CURRENCY_SYMBOL=Bs
APP_MONEY_DECIMALS=0
APP_DECIMAL_SEPARATOR=,
APP_THOUSANDS_SEPARATOR=.
